$primary-color: #7dbeff; /* Azul */
$secondary-color: #28a745; /* Verde */
$tertiary-color: #ff9800; /* Laranja */
$light-color: #f8f9fa; /* Cor clara para fundos */
$dark-color: #343a40; /* Cor escura para textos */
