@import '../styles/_variables';

.choose-plan {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    padding: 1rem;
    h2 {
      font-size: 2rem;
    }
  }
}

.choose-plan h2 {
  text-align: center;
  color: $primary-color;
}

.plan-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.plan h3 {
  color: $secondary-color;
}

.plan p {
  margin: 0.5rem 0;
}
